@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pathfinder2eActions;
  src: url(@/assets/Pathfinder2eActions.ttf);
}

.pf2-icon {
  font-family: 'Pathfinder2eActions', sans-serif;
  padding-bottom: 12px;
}
