@import 'tailwindcss';
/* @import './themes/default/default.css' layer(default); */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@plugin '@headlessui/tailwindcss';

/* Boilerplate Fixes */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 110%;
  scrollbar-width: none;
}

@custom-variant pwa {
  @media (display-mode: standalone) {
    @slot;
  }
}

@theme {
  --breakpoint-xs: 360px;
  --font-sans: 'Dosis', 'sans-serif';
  --color-divider: oklch(87.2% 0.01 258.338);
  --color-hovered: var(--color-blue-100);
  --color-selected: var(--color-blue-200);
  --color-active: var(--color-blue-300);

  --color-proficiency-untrained: var(--color-black);
  --color-proficiency-trained: var(--color-blue-500);
  --color-proficiency-expert: var(--color-purple-500);
  --color-proficiency-master: var(--color-yellow-500);
  --color-proficiency-legendary: var(--color-red-500);

  --drop-shadow-glow: 0 0 4px rgba(150, 150, 255, 0.85);
  --animate-rollin: shown 300ms ease-in-out;
  @keyframes shown {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
      transform-origin: top center;
      height: 0;
    }
    100% {
      opacity: 1;
      transform: none;
      height: 28px;
    }
  }
}
